<h1>New Game</h1>

<% @letters.each do |letter| %>
  <div class="box"><%= letter %>
  </div>
<% end %>

<p>What is the longest word you can find?</p>

<form class="question" action="/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="word" placeholder="Word">
  <input type="submit" value= "Play">
</form>

